<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>HOME</title>
		<link rel="stylesheet" href="css/estilo.css">
	</head>

	<body class="body-index">

		<div id="home">
			<form>
				<div>
					<input type="text" id="buscarIn" placeholder="Busca" />
					<button type="submit"  id="buscarBt">Buscar</button>
					<button type="submit" id="sair" ><a class="link" href="/sair">Sair</a></button>					
				</div>
				

			</form> <!-- fim form -->
			
		</div>	<!-- fim home -->
		<div id="slide">		
				<div id="buscaFilmes"></div>
				<div id="containerFilmes"></div>

				<script src="js/script.js"></script>
		</div>	
	</body>
</html>